@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
:root {
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.text-lg-center {
    color: #2c3e50;
}

.options_button {
    padding: 10px;
    margin: 15px;
}

.button {
    border: 7px inset #18bc9c;
    border-radius: 5px;
}

.option, .result, .readybutton {
    margin: 3%;
    font-family: var(--bs-font-monospace);
    font-size: 1.60rem;
}

.pic {
    border: 2px solid #18bc9c;
    border-radius: 10px;
}

#fullgame {
    display: none;
    font-family: var(--bs-font-monospace);
    font-size: 1.65rem;
    color: #2c3e50;
}

.result {
    color: #2c3e50;
}

.game img {
    height: 200px;
    width: 200px;
}

.option {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.row {
    margin-top: 2rem;
}

#playgamefunc{
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
